* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
#root {
  height: 100%;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    text-align: center;
  }
  &__header,
  &__main,
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__header {
    background-color: red;
  }
  &__main {
    & h1 {
      margin-bottom: 100px;
    }
    background-color: green;
    flex: 1;
  }
  &__footer {
    background-color: yellow;
  }
}

.playingcard {
  width: 170px;
  height: 280px;
  background-color: brown;
}
