* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
#root {
  height: 100%;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    text-align: center;
    margin: auto;
  }
  &__header {
    background-color: red;
  }
  &__main {
    background-color: green;
    flex: 1;
  }
  &__footer {
    background-color: yellow;
  }
}
